<div class="container">
  <div *ngIf="reviewForm === false">
    <h2>{{ formdata.title }}</h2>
    <form
      [formGroup]="form"
      (ngSubmit)="submitForm()"
      *ngIf="showPersonalFormData === true"
    >
      <div *ngFor="let group of formdata?.formFields">
        <h3>{{ group.label }}</h3>
        <div nz-row [nzGutter]="16">
          <div
            nz-col
            [nzLg]="12"
            [nzMd]="12"
            [nzSm]="24"
            [nzXs]="24"
            *ngFor="let data of group?.fields"
          >
            <div [ngSwitch]="data.type">
              <nz-form-item *ngSwitchCase="'text'">
                <nz-form-control>
                  <nz-form-label [nzRequired]="data?.validations?.isRequired">
                    {{ data.label }}
                  </nz-form-label>
                  <input
                    type="text"
                    nz-input
                    [formControlName]="data.name"
                    [placeholder]="data.placeholder"
                    class="formWidth"
                  />
                  <div
                    *ngIf="
                      form.get(data.name)?.invalid &&
                      (form.get(data.name)?.dirty ||
                        form.get(data.name)?.touched)
                    "
                  >
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('required')"
                    >
                      {{ data.label }} is required
                    </p>
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('pattern')"
                    >
                      Please enter valid {{ data.label }}
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngSwitchCase="'date'">
                <nz-form-control>
                  <nz-form-label [nzRequired]="data?.validations?.isRequired">
                    {{ data.label }}
                  </nz-form-label>
                  <nz-date-picker
                    [formControlName]="data.name"
                    (ngModelChange)="onChange($event)"
                    class="formWidth"
                  ></nz-date-picker>
                  <div
                    *ngIf="
                      form.get(data.name)?.invalid &&
                      (form.get(data.name)?.dirty ||
                        form.get(data.name)?.touched)
                    "
                  >
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('required')"
                    >
                      {{ data.label }} is required
                    </p>
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('pattern')"
                    >
                      Please enter valid {{ data.label }}
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngSwitchCase="'radio'">
                <nz-form-control>
                  <nz-form-label [nzRequired]="data?.validations?.isRequired">
                    {{ data.label }}
                  </nz-form-label>
                  <nz-radio-group
                    [formControlName]="data.name"
                    class="formWidth"
                  >
                    <label
                      nz-radio
                      *ngFor="let options of data.options"
                      [nzValue]="options.value"
                    >
                      {{ options.label }}
                    </label>
                  </nz-radio-group>
                  <div
                    *ngIf="
                      form.get(data.name)?.invalid &&
                      (form.get(data.name)?.dirty ||
                        form.get(data.name)?.touched)
                    "
                  >
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('required')"
                    >
                      {{ data.label }} is required
                    </p>
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('pattern')"
                    >
                      Please enter valid {{ data.label }}
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngSwitchCase="'checkbox'">
                <nz-form-control>
                  <nz-form-label [nzRequired]="data?.validations?.isRequired">
                    {{ data.label }}
                  </nz-form-label>

                  <div [formGroup]="$any(form.get(data.name))">
                    <div *ngFor="let option of data.options">
                      <label nz-checkbox [formControlName]="option.value">{{
                        option.label
                      }}</label>
                    </div>
                  </div>
                  <div
                    *ngIf="
                      form.get(data.name)?.invalid &&
                      (form.get(data.name)?.dirty ||
                        form.get(data.name)?.touched)
                    "
                  >
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('required')"
                    >
                      {{ data.label }} is required
                    </p>
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('pattern')"
                    >
                      Please enter valid {{ data.label }}
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngSwitchCase="'select'">
                <nz-form-control>
                  <nz-form-label [nzRequired]="data?.validations?.isRequired">
                    {{ data.label }}
                  </nz-form-label>
                  <nz-select
                    class="formWidth"
                    [nzPlaceHolder]="data.label"
                    [formControlName]="data.name"
                  >
                    <nz-option
                      *ngFor="let option of data.options"
                      [nzLabel]="option.value"
                      [nzValue]="option.label"
                    ></nz-option>
                  </nz-select>
                  <div
                    *ngIf="
                      form.get(data.name)?.invalid &&
                      (form.get(data.name)?.dirty ||
                        form.get(data.name)?.touched)
                    "
                  >
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('required')"
                    >
                      {{ data.label }} is required
                    </p>
                    <p
                      class="textRed"
                      *ngIf="form.get(data.name)?.hasError('pattern')"
                    >
                      Please enter valid {{ data.label }}
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>

      <div class="buttonAlign">
        <button nz-button nzType="primary" type="submit">Next</button>
      </div>

      <!-- <button type="submit">Submit</button> -->
    </form>
    <form
      [formGroup]="companyForm"
      (ngSubmit)="submitForm1()"
      *ngIf="showPersonalFormData === false"
    >
      <h3>{{ formdata.label }}</h3>
      <div nz-row [nzGutter]="16">
        <div
          nz-col
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
          *ngFor="let item of formdata?.fields"
        >
          <div [ngSwitch]="item.type">
            <nz-form-item *ngSwitchCase="'select'">
              <nz-form-control>
                <nz-form-label [nzRequired]="item?.validations?.isRequired">
                  {{ item.label }}
                </nz-form-label>
                <nz-select
                  class="formWidth"
                  [nzPlaceHolder]="item.label"
                  [formControlName]="item.name"
                >
                  <nz-option
                    *ngFor="let option of item.options"
                    [nzLabel]="option.value"
                    [nzValue]="option.label"
                  ></nz-option>
                </nz-select>
                <div
                  *ngIf="
                    companyForm.get(item.name)?.invalid &&
                    (companyForm.get(item.name)?.dirty ||
                      companyForm.get(item.name)?.touched)
                  "
                >
                  <p
                    class="textRed"
                    *ngIf="companyForm.get(item.name)?.hasError('required')"
                  >
                    {{ item.label }} is required
                  </p>
                  <p
                    class="textRed"
                    *ngIf="companyForm.get(item.name)?.hasError('pattern')"
                  >
                    Please enter valid {{ item.label }}
                  </p>
                </div>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngSwitchCase="'date'">
              <nz-form-control>
                <nz-form-label [nzRequired]="item?.validations?.isRequired">
                  {{ item.label }}
                </nz-form-label>
                <nz-date-picker
                  (ngModelChange)="onChange($event)"
                  [formControlName]="item.name"
                  class="formWidth"
                ></nz-date-picker>
                <div
                  *ngIf="
                    companyForm.get(item.name)?.invalid &&
                    (companyForm.get(item.name)?.dirty ||
                      companyForm.get(item.name)?.touched)
                  "
                >
                  <p
                    class="textRed"
                    *ngIf="companyForm.get(item.name)?.hasError('required')"
                  >
                    {{ item.label }} is required
                  </p>
                  <p
                    class="textRed"
                    *ngIf="companyForm.get(item.name)?.hasError('pattern')"
                  >
                    Please enter valid {{ item.label }}
                  </p>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div class="buttonAlign">
        <button
          nz-button
          nzType="primary"
          (click)="previousStep()"
          class="marginRight"
        >
          Previous
        </button>
        <button nz-button nzType="primary" type="submit">Review</button>
      </div>
    </form>
  </div>
  <div class="marginTop" *ngIf="reviewForm === true">
    <h2>Review:</h2>
    <div class="paddingLeft">
      <h3>
        <span class="boldFont">Name:</span> {{ fullName ? fullName : "-" }}
      </h3>
      <h3>
        <span class="boldFont">DOB:</span>
        {{ dob ? (dob | date : "short") : "-" }}
      </h3>
      <h3><span class="boldFont">Gender:</span> {{ gender ? gender : "-" }}</h3>
      <h3>
        <span class="boldFont">Interests:</span>
        {{ interestlist ? interestlist : "-" }}
      </h3>
      <h3><span class="boldFont">State:</span> {{ state ? state : "-" }}</h3>
      <h3><span class="boldFont">Skills:</span> {{ skills ? skills : "-" }}</h3>
      <h3>
        <span class="boldFont">Date of Joining:</span>
        {{ doj | date : "short" }}
      </h3>
    </div>
    <div class="buttonAlign">
      <button
        nz-button
        nzType="primary"
        class="marginRight"
        (click)="previousTocompanyForm()"
      >
        Previous
      </button>
      <button nz-button nzType="primary" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
