p {
  margin: 0;
}
.ant-radio-group {
  display: block;
}
::ng-deep .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0px;
}
.textRed {
  color: red;
}
.formWidth {
  width: 100%;
}
.buttonAlign {
  display: flex;
  float: right;
}
.marginTop {
  margin-top: 20px;
}
.marginRight {
  margin-right: 20px;
}
.paddingLeft {
  padding-left: 60px;
}
.boldFont {
  font-weight: bold;
}
